body{
   margin: 0;
   margin-left: 200px;
   margin-right: 200px;
}
.navigation-headers{
    display: flex;
    gap: 32px;
    padding: 20px;
}
.logo{
    flex: 2;
}
.panel-1{
    display: flex;
    justify-content: space-around;
}
.panel-1 div ul{
    list-style-type: none;
}
.hero-container{
    flex: 2;
    height: auto;
    border: 4px solid black;

}
.image-container{
    flex: 2;
    height: auto;
    border: 4px solid black;
    justify-items: center;
    align-content: center;
}
.random-information-banner{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.image-container-2{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
   
}
.image-container-2 li{
    width: 150px;
    height: 150px;
    border: 4px solid black;
}
.image-subtext{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.customer-name{
    display: flex;
    justify-content: end;
}

.call-to-action-container{
    display: flex;
    justify-content: space-around;
}
.text-content{
    list-style-type: none;
}
.signup-button{
    height: 50px;
    width: 100px;
    background-color: #3882F6;
}
